
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Action("Exchange", "Product")


<div class="container py-5">



    <h1>About Exchange System</h1>

    <p>It's a Library. It's a smart social networking site. It's a celebration of literature and a place where books get new life. Kitapp is the act of giving a book a unique identity so, as the book is passed from reader to reader, it can be tracked and thus connecting its readers. The books can come into your hands first directly from the shelf, with their unique fragrances. We are a platform that will help you download the book if  you want as an e-book for free.</p>


</div>

<script src="~/Content/Site/jquery/jquery.min.js"></script>