
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="ftco-section">

    
    <div class="row">





        <div class="container">


            <br />
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-warning">KITAPP -</strong>

                    <h1 class="mb-0">About Kitapp</h1>


                    <p class="card-text mb-auto">It's a Library. It's a smart social networking site. It's a celebration of literature and a place where books get new life. Kitapp is the act of giving a book a unique identity so, as the book is passed from reader to reader, it can be tracked and thus connecting its readers. The books can come into your hands first directly from the shelf, with their unique fragrances. We are a platform that will help you download the book if  you want as an e-book for free.</p>
                </div>

            </div>

            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-warning">MISSION -</strong>

                    <h1 class="mb-0">What's our mission?</h1>


                    <p class="card-text mb-auto">Very simply, we aim to connect people through books.</p>
                </div>

            </div>

            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-warning">HOW -</strong>
                  

                    <h1 class="mb-0">How do we do it?</h1>


                    <p class="card-text mb-auto">
                        <b>Share. Buy. Download.</b> Give new life to books instead of letting your old favorites gather dust - pass them on to another reader. Our online archiving and tracking system allows members to connect with other readers, journals and review literature and follow their books as life changes through “reading and publishing”. Users can upload their books to the Exchange section (they can also upload them directly as e-books if they wish) and arrange a meeting time for exchange or buy a brand new book from the contracted cafes. It is <b>free to join and free to socialize</b> in Kitapp.
                        <br />
                        So don't be 'shelf'ish with your books - <b>read and release!</b>
                    </p>
                </div>

            </div>
        

        </div>
    </div>
</section>






