
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d195884.20789741602!2d32.62268151129019!3d39.90355566436235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347d520732db1%3A0xbdc57b0c0842b8d!2sAnkara!5e0!3m2!1str!2str!4v1620917246868!5m2!1str!2str"  style="border:0;height: 400px; width:1366px;" allowfullscreen="" loading="lazy">
        </iframe>
       
</div>

<div class="container py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-5">
                <h1>GET IN TOUCH</h1>
                <hr />
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Name & Surname</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your name and surname">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control" rows="5" placeholder="Your message ..."></textarea>
                    </div>
                    <hr />
                    <button class="btn-block btn-success" style="border-color:white;">Send</button>
                </form>

            </div>
            <div class="col-md-4 mb-5">
                <h2>Contact Us</h2>
                <hr />
                <address>
                    <strong>Address</strong>
                    <br />
                    Ankara Aydınlıkevler
                    <br />
                    Harman Sokak 99/99
                    <br />
                    Ankara/Turkey
                    <br />
                </address>
                <address>
                    <a title="Phone"><strong>Phone:</strong></a>
                    (123) 456-7890
                    <br />
                    <a title="Phone"><strong>Email:</strong></a>
                    <a href="mailto:info@kitapp.com">info@kitapp.com</a>
                </address>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5">

            </div>
            <div class="col-md-4 mb-5">

            </div>
            <div class="col-md-4 mb-5">

            </div>
        </div>
    </div>
    </div>


