
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">

    <div>
        <div class="col-lg-8 mx-auto p-3 py-md-5">


            <h1>How to login and register<span class="text-warning">?</span></h1>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Step 1  ➔</h2>

                    <h2>Click to Sign-up</h2>
                    <p>Fill the blanks about required informations.Date time and gender are optional.</p>

                </div>
                <div class="col-md-4">
                    <h2>Step 2 ➔</h2>
                    <h2>Click to Login</h2>
                    <p>Need to fill your username and password.If you entered the information correctly , you will directly go Userpanel. </p>

                </div>
                <div class="col-md-4">
                    <h2>Step 3 ✓</h2>
                    <h2>Welcome to our system !</h2>
                    <p>Adding books and trading you own books are available for you.</p>

                </div>
            </div>

            <hr>

        </div>

    </div>

    <div>
        <div class="col-lg-8 mx-auto p-3 py-md-5">


            <h1>How to make trades <span class="text-warning">?</span></h1>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Step 1  ➔</h2>

                    <h2>Login and Go to Page</h2>
                    <p>Click on the Exchange page and view the books that are currently available for trade. You can also start a trade cycle if you want! </p>

                </div>
                <div class="col-md-4">
                    <h2>Step 2 ➔</h2>
                    <h2>Select a Book</h2>
                    <p>Choose one of the available books and set a meeting time. Recommend a book to the book owner and wait for approval.</p>

                </div>
                <div class="col-md-4">
                    <h2>Step 3 ✓</h2>
                    <h2>Make a Request</h2>
                    <p>After your approved request, grab the book that you will trade and go!</p>

                </div>
            </div>

            <hr>

        </div>

    </div>



    <div>
        <div class="col-lg-8 mx-auto p-3 py-md-5">


            <h1>How to buy books<span class="text-warning"> ?</span></h1>




        </div>
        <div class="container">
            <!-- How to buy books steps -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Step 1  ➔</h2>

                    <h2>Go to Page</h2>
                    <p>Click on the book page and view the various books! </p>

                </div>
                <div class="col-md-4">
                    <h2>Step 2 ➔</h2>
                    <h2>
                        Select a Book
                    </h2>
                    <p>Choose a book that interests you and add it to your basket! </p>

                </div>
                <div class="col-md-4">
                    <h2>Step 3 ✓</h2>
                    <h2>Complete Checkout</h2>
                    <p>Confirm your basket and enter payment information along with your address. Then wait for the books that are eager to meet you. Because they are on the way!</p>

                </div>
            </div>

            <hr>

        </div>
    </div>


    <div>
        <div class="col-lg-8 mx-auto p-3 py-md-5">


            <h1>How to download E-Books<span class="text-warning"> ?</span></h1>




        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <h2>Step 1  ➔</h2>

                    <h2>Go to Page</h2>
                    <p>Click on the book page and view the various books! </p>

                </div>
                <div class="col-md-4">
                    <h2>Step 2 ➔</h2>
                    <h2>
                        Select a Book
                    </h2>
                    <p>Choose a book that interests you and add it to your basket! </p>

                </div>
                <div class="col-md-4">
                    <h2>Step 3 ✓</h2>
                    <h2>Click to download button</h2>
                    <p>Confirm your basket and enter payment information along with your address. Then wait for the books that are eager to meet you. Because they are on the way!</p>

                </div>
            </div>

            <hr>

        </div>
    </div>




</div>

